#title {
  color: red;
  display: flex;
  justify-content: center;
}

#board {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(3, auto); */
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
